@page
@model BarberShop.Web.Pages.Appointments.ForLoggedInUsersModel

    <h3 class="mt-5 mb-5">Időpontfoglalás csak bejelentkezett felhasználói fiókkal lehetséges.</h3>

    <a class="btn btn-primary btn-lg" role="button" asp-area="Identity" asp-page="/Account/Login">Bejelentkezés</a>
    <a class="btn btn-secondary btn-lg" role="button" asp-area="Identity" asp-page="/Account/Register">Regisztráció</a>
